# Global Params

# User alias specification
User_Alias      SUPPORT_USERS = {{ usersupport_name }}

# Cmnd alias specification
# Generales
Cmnd_Alias      POWER_CMDS = /sbin/shutdown
Cmnd_Alias      SERVICE_CMDS = /usr/sbin/service
Cmnd_Alias      TIME_CMDS = /bin/date,/usr/sbin/ntpdate
Cmnd_Alias      VIEW_CMDS = /usr/bin/head,/usr/bin/tail,/bin/cat

# Operator Rules
SUPPORT_USERS     ALL = POWER_CMDS,SERVICE_CMDS,TIME_CMDS,VIEW_CMDS
